body{
	background:#fff;
}
.table>tbody+tbody{
	border:none;
}
.agents_header{
	padding:30px 30px 0px 30px;
}
.agents_top{
	clear:both;
	min-height:70px;
}
.agent_fl{
	float:left;
	min-width:150px;
	text-align:center;
}
.agent_fl p{
	color:red;
	line-height:14px;
	font-size:24px;
}
.agent_fl:last-child{
	text-align:left;
	border-left:1px solid #f5f5f5;
	padding-left:25px;
}
.agent_a tbody tr td{
	text-align:left;
	padding-left:30px;
}
.agent_a a{
	margin-left:10px;
}
.marginbot{
	height:20px;
	clear:both;
}
.color-red{
	color:red;
}
.down_p{
	postion:absolute;
}
.icom_tips{
	width:15px;
	display:block;
	height:15px;
	left:120px;
	top:-20px;
	position:relative;
	background-image: url(../img/icon-i.png);
	background-size:15px 15px;
	background-repeat:no;
}
.lookup{
	width:500px;
	height:auto;
	background:#fff;
	margin:0 auto;
	padding:0px 0px;
}
.up-header{
	background:#f5f5f5;
	min-height:43px;
	border-bottom:1px solid #dddddd;
	color:#c2a16e;
	line-height:43px;
	padding-left:15px;
	font-size:15px;
	
}
.up-content{
	width:90%;
	margin:10px auto;
	padding-bottom:10px;
}
.up-content .up-userslist{
	width:100%;
	height:40px;
	text-align:center;
	line-height:40px;
	background:#fff;
	color:#333;
	border-bottom:1px solid #dddddd;
}
.up-content .up-userslist:first-child{
	width:100%;
	height:40px;
	text-align:center;
	line-height:40px;
	color:#333;
	border-bottom:1px solid #dddddd;
}
.up-content .up-userslist .left-time{
	float:left;
	width:50%;
	text-align:center;
}
.up-content .up-userslist .right-mobile{
	float:left;
	width:50%;
	text-align:center;
}
.up-mage-pro{
	width:400px;
	margin:15px auto;
	
}
.up-content .pro-list{
	line-height:45px;
	background:#fdfdfd;
	padding:0 15px;
}
.up-content .pro-list span{
	margin-left:20px;
}
.up-content .pro-list span input{
	height:25px;
	width:220px;
	text-align:right;
	padding-right:10px;
	margin-right:5px;
	border-radius:2px;
	border:1px solid #dddddd;
}
.up-content .operate-group{
	width:100%;
	text-align:center;
	margin-top:15px;
}
.up-content .operate-group a{
	padding:10px 35px;
	color:#fff;
	margin:0 15px;
}
.up-content .operate-group .btn-cancel{
	background:#dddddd;
}