.form-charge .charge-type-group {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #F4F4F4;
}

.form-charge .charge-type .select-item {
    float: left;
    margin-right: 40px;
    width: 160px;
    border: 1px solid #D9D9D9;
    line-height: 42px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.form-charge .charge-type .select-item.active {
    color: #FB3D51;
    border-color: #FB3D51;
}

.form-charge .charge-type a.select-item {
    color: #666;
}

.form-charge .fake-select .checked-bank {
    display: inline-block;
    position: relative;
    border: 1px solid #FB3D51;
}

.form-charge .fake-select .checked-bank::after {
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: url(../img/checked-mark.png) no-repeat;
}

.form-charge .fake-select a.btn-bank-more {
    display: inline-block;
    margin-left: 20px;
    color: #44a8f7;
}
.form-charge .error{
    color: #FB3D51;
}
.form-charge .account-list .item {
    position: relative;
    border: 1px solid #DDDDDD;
    margin-bottom: 16px;
    color: #666666;
    padding: 10px 15px;
    height: 72px;
    overflow: hidden;
    cursor: pointer;
}
.form-charge .account-list .item.checked {
    color: #FF465A;
    border-color: #FF465A;
    background: url(../img/checked-mark.png) right bottom no-repeat ;
}
.form-charge .account-list .item .title{
    line-height: 52px;
    width: 100px;
    text-align: center;
    float: left;
    margin-right: 30px;
}
.form-charge .account-list .item .bd{
    height: 52px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form-charge .account-list .item p{
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 0 0 100%;
    margin: 0;
}
.form-charge .account-list .item span{
    display: inline-block;
    margin-right: 40px;
}

.form-charge .transfer-message {
    width: 360px;
}

.charge-warning .title{
    font-size: 18px;
    border-bottom: 1px dashed #efdbb2;
    line-height: 40px;
}
.charge-warning ul{
    padding: 10px 0;
}
.charge-warning li{
    line-height: 30px;
}