.financing-info {
    margin: 20px;
    border: 1px solid #D9D9D9;
}

.financing-info .hd {
    line-height: 40px;
    padding: 0 10px;
    border-bottom: 1px solid #D9D9D9;
    background-color: #F4F4F4;
}

.financing-info .hd .order-sn {
    color: #ba9767;
    margin-right: 10px;
}

.financing-info .hd .tag {
    padding-right: 5px;
    width: 56px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    text-align: right;
    display: inline-block;
    background: url(../img/icon-tag.png) no-repeat;
    color: #ffffff;
}

.financing-info .hd .tag-disabled {
    background-image: url(../img/icon-tag-disabled.png);
    color: #fff;
}

.financing-info .hd .fr {
    float: right;
}

.financing-info .bd {
    padding: 0 20px;
}

.financing-info .bd .section-left {
    width: 50%;
    padding: 0 20px;
    float: left;
    border-right: 1px solid #D9D9D9;
}

.financing-info .bd .section-right {
    width: 50%;
    padding: 0 20px;
    float: left;
}

.financing-info .bd .section-left .item, .financing-info .bd .section-right .item {
    height: 62px;
    padding: 15px 0;
    line-height: 32px;
    border-bottom: 1px dotted #D9D9D9;
}

.financing-info .bd .section-left .item .title, .financing-info .bd .section-right .item .title {
    float: left;
}

.financing-info .bd .section-left .item .con, .financing-info .bd .section-right .item .con {
    float: right;
}

.financing-info .bd .section-left .item:nth-child(4), .financing-info .bd .section-right .item:nth-child(4) {
    border: none;
}

.financing-info .bd .section-bottom {
    clear: both;
    border-top: 1px solid #D9D9D9;
    padding: 20px 20px;
}

.financing-info .bd .section-bottom .item {
    width: 50%;
    float: left;
    text-align: center;
}

.financing-info .ft {
    background-color: #F4F4F4;
    border-top: 1px solid #D9D9D9;
    padding: 16px 20px;
    text-align: right;
}

.financing-info .ft a {
    display: inline-block;
    width: 90px;
    text-align: center;
    background-color: #fff;
    border-radius: 3px;
    line-height: 25px;
    font-size: 14px;
    color: #666666;
    margin: 0 3px;
}

.financing-info .ft a.red {
    background-color: #FB3D51;
    color: #ffffff;
}

.records {
    padding-bottom: 20px;
}

.records .tab-hd {
    margin-bottom: 32px;
    border-bottom: 1px solid #F4F4F4;
}

.records .tab-hd li {
    float: left;
    width: 160px;
    margin-bottom: -1px;
}

.records .tab-hd li a {
    display: block;
    text-align: center;
    color: #999999;
    border-bottom: 2px solid transparent;
    font-size: 16px;
    line-height: 60px;
}

.records .tab-hd li.active a {
    color: #333333;
    border-color: #BB9767;
}

.records .record-table {
    width: 100%;
}

.records .record-table thead th {
    background-color: #F4F4F4;
    text-align: center;
    font-weight: 400;
    padding: 5px 10px;
    border-bottom: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;
    line-height: 30px;
}

.records .record-table tbody td {
    border-bottom: 1px solid #D9D9D9;
    line-height: 30px;
    padding: 5px 10px;
    color: #5d5d5d;
    text-align: center;
}

/* 操作配资弹出页面 */
body.popup-page{
    background-color: #fcfcfc;
    color: #333;
    padding: 0;
}
.finance-operate-page {
    width: 470px;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 14px;
}
.finance-operate-page .info{
    color: #ff465a;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 10px;
}
.finance-operate-page .account,
.finance-operate-page .fee
{
    text-align: center;
}

.finance-operate-page .operate {
    text-align: center;
}

.finance-operate-page .operate input{
    padding: 3px 5px;
    line-height: 20px;
    border: 1px solid #DDDFDF;
    width: 100px;
}
.finance-operate-page .btn-group {
    margin: 20px 0;
    text-align: center;
}
.finance-operate-page .btn-group .btn {
    width: 160px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    margin: 0 30px;
    border-radius: 5px;
    cursor: pointer;
}
.finance-operate-page .btn-group .btn-cancel{
    background-color: #C9CAC9;
    color: #fff;
}
.finance-operate-page .btn-group .btn-confirm {
    background-color: #BB9767;
    color: #fff;
}
.finance-operate-page .fee,
.finance-operate-page .operate,
.finance-operate-page .account{
    border-bottom:1px dotted #D9D9D9;
    background-color: #F9F9F9;
    padding: 10px;
    line-height: 30px;
}

.finance-operate-page .fee .label,
.finance-operate-page .operate .label,
.finance-operate-page .account .label{
    float: left;
    width: 180px;
    text-align: left;
}

.finance-operate-page .fee .con,
.finance-operate-page .operate .con,
.finance-operate-page .account .con{
    display: block;
    text-align: right;
}
