.form-withdraw .btn-pick-all {
    display: inline-block;
    margin-left: 10px;
    color: #44a8f7;
    cursor: pointer;
}

.form-withdraw .v-img {
    position: relative;
    top: -1px;
    border: 1px solid #D9D9D9;
}

.form-withdraw .charge-type-group {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #F4F4F4;
}

.form-withdraw .charge-type .select-item {
    float: left;
    margin-right: 40px;
    width: 160px;
    border: 1px solid #D9D9D9;
    line-height: 42px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.form-withdraw .charge-type .select-item.active {
    color: #FB3D51;
    border-color: #FB3D51;
}

.form-withdraw .fake-select .checked-bank {
    display: inline-block;
    width: 298px;
    text-align: center;
    position: relative;
    border: 1px solid #FB3D51;
    padding: 10px 0;
    z-index: 1;
    cursor: pointer;
}

.form-withdraw .fake-select .checked-bank::after {
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: url(../img/checked-mark.png) no-repeat;
}

.form-withdraw .fake-select .checked-bank .card-number {
    display: inline-block;
    font-size: 12px;
    line-height: 42px;
    margin: 0 20px 0 10px;
}

.form-withdraw .fake-select a.btn-bank-more {
    display: inline-block;
    margin-left: 20px;
    color: #44a8f7;
}

.form-withdraw .card-select-list {
    display: none;
    width: 298px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
}

.form-withdraw .card-select-list li {
    border: 1px solid #ddd;
    padding: 10px 0;
    margin-top: -1px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    text-align: center;
}
.form-withdraw .card-select-list li img{
    max-width: 106px;
    max-height: 32px;
}
.form-withdraw .card-select-list li:hover {
    z-index: 1;
    border-color: #FB3D51;
}

.form-withdraw .card-select-list li.item-add-bank {
    height: 62px;
    line-height: 62px;
    text-align: center;
}

.form-withdraw .card-select-list li.item-add-bank a {
    display: block;
    height: 100%;
    line-height: 40px;
    color: #666666;
}

.form-withdraw .card-select-list li.item-add-bank a:hover {
    color: #499FF4;
}

.form-withdraw .card-select-list li.item-add-bank .icon {
    vertical-align: middle;
}

.form-withdraw .card-select-list li.item-add-bank .icon.icon-plus {
    width: 28px;
    height: 28px;
    background: url(../img/icon-circle-plus.png) no-repeat;
}

.form-withdraw .card-select-add {
    width: 298px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
}

.form-withdraw .card-select-add li {
    border: 1px solid #ddd;
    padding: 10px 0;
    position: relative;
    z-index: 0;
    cursor: pointer;
    text-align: center;
}
.form-withdraw .card-select-add li img{
    max-width: 106px;
    max-height: 32px;
}
.form-withdraw .card-select-add li:hover {
    z-index: 1;
    border-color: #FB3D51;
}

.form-withdraw .card-select-add li.item-add-bank {
    height: 62px;
    line-height: 62px;
    text-align: center;
}

.form-withdraw .card-select-add li.item-add-bank a {
    display: block;
    height: 100%;
    line-height: 40px;
    color: #666666;
}

.form-withdraw .card-select-add li.item-add-bank a:hover {
    color: #499FF4;
}

.form-withdraw .card-select-add li.item-add-bank .icon {
    vertical-align: middle;
}

.form-withdraw .card-select-add li.item-add-bank .icon.icon-plus {
    width: 28px;
    height: 28px;
    background: url(../img/icon-circle-plus.png) no-repeat;
}

.form-withdraw .con .error{
    color: #FB3D51;
    line-height: 25px;
}