.down-bg{background: url(../img/down-bg.jpg) no-repeat;background-size: 100% 100%;padding-top: 11px;padding-bottom: 35px;width: 100%;position:  relative;z-index: 86;}
.down-bg .down-left-img{
    float: left;
    padding-left: 10px;
    padding-top: 15px;
    position:relative;
    width:487px;
}
/* .down-bg .down-left-img img{position:absolute;top: -550px;opacity: 0;} */
.down-bg .down-right{
    padding-left: 110px;
    padding-right: 50px;
    padding-top: 94px;
    float: right;
    color: #fff;
}
.down-bg .down-right .tit{
    padding-bottom: 20px;
    background: url(../img/down-right-tit.png) no-repeat;
    height:  63px;
    width: 464px;
}
.down-bg .down-right  .brief{
    font-size: 20px;
    text-align:  center;
    padding-top: 25px;
}
.down-bg .down-right  .brief .icon-right{
    width:20px;
    height:21px;
    margin: 5px 10px 0 0;
    background: url(../img/icon-right.png) no-repeat;
    position:  relative;
    top: 3px;
}
.down-bg .down-App{
    padding: 25px 0px 0px 23px;
    height: 238px;
    text-align: center;
}
.down-bg .down-App .button{
    border-radius: 7px;
    width: 270px;
    height: 77px;
    line-height: 77px;
    background:#fff;
    text-align: center;
    display:block;
    font-size: 24px;
    margin-bottom:38px;
    border:0px;
}
.down-bg .down-App a{
    border-radius: 7px;
    width: 210px;
    height: 147px;
    line-height: 55px;
    text-align: center;
    display:inline-block;
    font-size: 20px;
    margin-bottom: 8px;
    border:0px;
    color:  #fff;
}
.down-bg .down-App a .down-erweima{
display:block;

}
.down-bg .down-App .win-mac-icon{
    width:50px;
    height:50px;
    display: block;
    float: left;
    position: relative;
    top:13px;
    left: 22px;
    background:url(../images/win-mac-icon.png) no-repeat;
}
.down-bg .down-App .win-mac-icon.mac-icon{
    background-position: -60px 1px;
}

.down-bg .down-btn{
	width:348px;
	height:64px;
	border-radius:10px;
	line-height:  64px;
	text-align:  center;
	font-size: 20px;
	border: 1px solid #fff;
	color:  #fff;
	margin: 0 auto;
}
.down-bg .down-btn a{
	color:  #fff;
}