.financing-container {
    background-color: #fff;
    margin-bottom: 20px;
}

.tabnav {
    margin-bottom: 20px;
}

.tabnav ul {
    border-bottom: 1px solid #D9D9D9;
    padding: 0;
}

.tabnav li {
    float: left;
    width: 160px;
    position: relative;
    margin-bottom: -1px;
}

.tabnav li a {
    display: block;
    color: #2e2e2e;
    line-height: 60px;
    height: 60px;
    font-size: 18px;
    text-align: center;
}

.tabnav li.active {
    border-bottom: 3px solid #FB3D51;
}

.tabnav li.active a {
    color: #fb3d51;
}

.product-tabnav {
    /* border-bottom: 1px solid #D9D9D9; */
    margin-bottom: 30px;
}

.product-tabnav ul {
    padding: 0 -1px;
    background: #F1EADF;
}

.product-tabnav ul li {
    float: left;
    width: 180px;
    margin-bottom: -1px;
}

.product-tabnav ul li a {
    display: block;
    text-align: center;
    line-height: 62px;
    border-top: 2px solid transparent;
    border-bottom: 1px solid transparent;
    font-size: 18px;
    color: #5d5d5d;
}

.product-tabnav ul li.active {
    border-top: 1px solid #F1EADF;
    /* border-left: 1px solid #D9D9D9; */
    /* border-right: 1px solid #D9D9D9; */
    /* border-bottom: 1px solid #fff; */
    background: #fff;
    box-shadow: 5px -5px 8px rgba(66, 66, 66, 0.1);
}

.product-tabnav ul li.active a {
    color: #ba9767;
}

.financing-main .section-l {
    float: left;
    width: 47.6%;
}
.financing-main .section-l ul{padding: 0 40px;}
.financing-main .section-l li {
    padding: 20px 0px;
    border-bottom: 1px solid #ECECEC;
}

.financing-main .section-l li .title {
    float: left;
    width: 118px;
    color: #333333;
    line-height: 40px;
    font-size: 18px;
}

.financing-main .section-l li .title .icon-question{
    width: 20px;
    height:20px;
    background: url(../img/wenhao.png) no-repeat;
    position:  relative;
    top: 4px;
    cursor:  pointer;
}

.financing-main .section-l li .con {
    overflow: hidden;
    line-height: 40px;
    color: #666666;
}

.j-warn-line,.j-close-line{font-size:18px;}
.financing-main .section-l li:last-child {
    border: none;
}

.financing-main .section-r {
    width: 50%;
    float: left;
    padding: 0 25px;
    background-color: #F9F9F9;
    margin-bottom: 30px;
}

.financing-main .section-r ul {
    padding: 0;
    margin: 0;
}

.financing-main .section-r li {
    padding: 10px 0;
    border-bottom: 1px solid transparent;
}

.financing-main .section-r li .title {
    float: left;
    width: 118px;
    color: #333333;
    line-height: 61px;
    font-size: 18px;
}

.financing-main .section-r li .con {
    line-height: 40px;
    overflow: hidden;
    padding-top: 11px;
}

.financing-main .section-r li .con .input-simulator {
    display: inline-block;
    width: 170px;
    padding: 0 10px;
    border: 1px solid #C6C6C6;
    border-radius: 5px;
    background-color: #fff;
    height: 40px;
}

.financing-main .section-r li .con .input-simulator input {
    display: inline-block;
    width: 120px;
    font-size: 18px;
    border: none;
    line-height: 30px;
    height: 30px;
    text-align: right;
    outline: none;
    vertical-align: middle;
}

.financing-main .section-r li .con .input-simulator select {
    border: none;
    font-size: 18px;
    line-height: 30px;
    height: 30px;
    width: 120px;
    text-align-last: right;
    vertical-align: middle;
    outline: none;
}

.financing-main .section-r li .con .input-simulator select option {
    direction: ltr;
}

.financing-main .section-b {
    clear: both;
    border-top: 1px solid #D9D9D9;
    text-align: center;
    padding: 20px 0;
    line-height: 30px;
}

.financing-main .section-b a {
    color: #c3a06e;
}

.financing-main .section-b .btn-primary {
    margin: 10px 0;
    width: 240px;
    font-size: 18px;
    line-height: 35px;
}

.notice {
    padding: 10px 30px 40px;
    color: #bb9767;
}

.notice .notice-hd {
    line-height: 50px;
    font-size: 18px;
    border-bottom: 1px dashed #D9D9D9;
    padding: 0 16px;
}

.notice .notice-bd {
    padding-top: 20px;
}

.notice .notice-bd li {
    font-size: 12px;
    line-height: 30px;
}

.confirm-apply {
    width: 790px;
    display: none;
    background-color: #fff;
    border-radius: 6px;
    padding: 0 25px;
}

.confirm-apply .title {
    font-size: 18px;
    line-height: 65px;
    text-align: center;
    color: #5D5D5D;
}

.confirm-apply .meta {
    background-color: #F9F9F9;
}

.confirm-apply .meta .item {
    border-bottom: 1px solid #ECECEC;
    height: 52px;
    line-height: 52px;
    padding: 0 20px;
    color: #666666;
    overflow: hidden;
}

.confirm-apply .meta .item .left {
    width: 125px;
    float: left;
}

.confirm-apply .meta .item .middle {
    float: left;
    width: 112px;
    text-align: right;
    padding-right: 30px;
}

.confirm-apply .meta .item .right {
    overflow: hidden;
    color: #909090;
}

.confirm-apply .meta .item .right a.fr {
    float: right;
    color: #b28e60;
}

.confirm-apply .meta .item:nth-child(3) {
    border: none;
}

.confirm-apply .meta .item:last-child {
    background: #fff;
    border: none;
}

.confirm-apply .operate-group {
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px dashed #C6C6C6;
    text-align: center;
}

.confirm-apply .operate-group .btn {
    padding: 0;
    width: 160px;
    font-size: 18px;
    line-height: 50px;
    border-radius: 5px;
    margin: 0 15px;
}

.confirm-apply .operate-group .btn-cancel {
    background-color: #D9D9D9;
    color: #ffffff;
}

.financing-list {
    padding: 0 20px;
}

.financing-list .item {
    border: 1px solid #D9D9D9;
    margin-bottom: 20px;
}

.financing-list .item .item-hd {
    background-color: #F1EADF;
    line-height: 38px;
    padding: 0 20px;
    border-bottom: 1px solid #D9D9D9;
}

.financing-list .item .item-hd .order-sn {
    color: #bb9767;
    padding: 0 3px;
}

.financing-list .item .item-hd .fr {
    float: right;
    color: #5d5d5d;
}

.financing-list .item .item-bd {
    padding: 0 20px;
}

.financing-list .item .item-bd .unit {
    float: left;
    width: 12.5%;
    text-align: center;
    line-height: 62px;
}

.financing-list .item .item-bd .unit .title {
    border-bottom: 1px solid #D9D9D9;
}

.financing-records {
    padding-bottom: 30px;
}

.financing-records .list-empty {
    width: 300px;
    margin: 0 auto;
}

.financing-records .list-empty .media-obj {
    float: left;
    margin-right: 20px;
}

.financing-records .list-empty .media-body {
    padding-top: 10px;
    line-height: 30px;
    color: #2e2e2e;
    font-size: 16px;
}

.financing-records .list-empty .media-body a {
    color: #ba9767;
}

/*# sourceMappingURL=financing.css.map */
#agreement{display:none;}
#agreement + label{
  /*  background-color: white;
    border-radius: 3px;
    border:1px solid #666;*/
    width:16px;
    height:16px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 15px;
    position:relative;
    top:1px;left:-3px;
    background-image: url("../../public/img/noagree.png");
    background-repeat: no-repeat;
   
}

#agreement:checked + label{
    background-image: url("../../public/img/agree.png");
    background-repeat: no-repeat;
}
#agreement:checked + label:after{
    background-image: url("../../public/img/agree.png");
    background-repeat: no-repeat;
}
