
<!DOCTYPE html>
<html lang="en">
<?php
include "e:\sezhikuan.html"
?>  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {block name="meta"}{/block}
    <title>{block name="title"}{:config('web_site_title')}{/block}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="__STATIC__/common/js/common.js"></script>
    <link rel="stylesheet" href="/static/public/css/common.css">
    <!--<script src="__STATIC__/public/js/commonBundle.js"></script>-->
    <!--<script src="__STATIC__/public/js/FloatBar.js"></script>-->
    <link rel="stylesheet" href="/static/public/css/commonBundle.css">
    {block name="style"}{/block}
</head>

<body>
    {block name="header"}
      
   {/block}
    {block name="main-container"}{/block}       
    {block name="page-footer"}
    
    {/block}
   
    {block name="xuanfukuang"}
   
    {/block}
    {block name="script"}{/block}
    <script>
       
    </script>
</body>

</html>